<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.myapp.member.dao.IMemberDAO">

	<insert id="insertMember" parameterType="com.spring.myapp.member.vo.MemberVO">
		INSERT INTO member VALUES (#{id}, #{pw}, #{name}, #{email}, #{address}, SYSDATE)
	</insert>
	
	<select id="selectAllMembers" resultType="com.spring.myapp.member.vo.MemberVO">
		SELECT * FROM member
	</select>
	
	<select id="checkMemberId" parameterType="string" resultType="com.spring.myapp.member.vo.MemberVO">
		SELECT * FROM member where ID = #{id}
	</select>
	
	<delete id="deleteMember">
		DELETE FROM member where id = #{id} and pw= #{pw}
	</delete>
	
	<update id="updateMember" parameterType="com.spring.myapp.member.vo.MemberVO">
		UPDATE member set pw= #{pw}, name=#{name}, email=#{email}, address=#{address} where id=#{id}
	</update>
</mapper>