<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.myapp.board.dao.IBoardDAO">

	<insert id="writeBoard">
		INSERT INTO board VALUES (autonum.NEXTVAL, #{name}, #{title}, #{content}, SYSDATE, 0)
	</insert>
	
	<select id="getBoardList" resultType="com.spring.myapp.board.vo.BoardVO">
		SELECT * from board ORDER BY boardnum DESC
	</select>
	
	<select id="getBoardContent" parameterType="int" resultType="com.spring.myapp.board.vo.BoardVO">
		SELECT * from board where boardnum=#{boardnum}
	</select>
	<delete id="deleteBoard" parameterType="int">
		DELETE from board where boardnum=#{boardnum}
	</delete>
	
	<update id="updateBoard" parameterType="com.spring.myapp.board.vo.BoardVO">
		UPDATE board set title=#{title}, content = #{content} where boardnum=#{boardnum}
	</update>
	
	<update id="hitPlus" parameterType="int">
		UPDATE board set hit = hit + 1 where boardnum = #{boardnum}
	</update>
</mapper>