<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.spring.weather.reply.repository.IReplyDAO">
	
	<resultMap id="ReplyResultMap" type="com.spring.weather.reply.model.ReplyVO">
		<id property="replyNo" column="reply_no" />
		<id property="boardNo" column="board_no" />
		<id property="replyContent" column="reply_content" />
		<id property="replyWriter" column="nickname" />
		<id property="regDate" column="reg_date" />
		<id property="updateDate" column="update_date" />
	</resultMap>
	
	<!-- 댓글 목록 불러오기 -->
	<select id="list" resultMap="ReplyResultMap">
		SELECT * FROM reply 
		WHERE board_no =#{boardNo} 
		ORDER BY reply_no DESC
	</select>
	
	<!-- 댓글 등록하기 -->
	<insert id="insert">
		INSERT INTO reply (board_no, reply_content, nickname) VALUES (#{boardNo}, #{replyContent}, #{replyWriter})
	</insert>
	
	<!-- 댓글 수정하기 -->
	<update id="update">
		UPDATE reply 
		SET reply_content=#{replyContent}, 
		update_date= NOW() 
		WHERE reply_no=#{replyNo}
	</update>
	
	<!-- 댓글 삭제하기 -->
	<delete id="delete">
		DELETE FROM reply 
		WHERE reply_no=#{replyNo}
	</delete>
	
	<!-- 게시물 원본 삭제를 위해 댓글 전부 삭제시키기 -->
	<delete id="deleteAllReply">
		DELETE FROM reply 
		WHERE board_no=#{boardNo} 
		ORDER BY reply_no > 0 
	</delete>
	
	<!--  해당 게시글의 총 댓글 수 불러오기  -->
	<select id="countReplies" resultType="int">
		SELECT COUNT(*) FROM reply 
		WHERE board_no=#{boardNo}
	</select>
	
	<!-- 댓글 페이징 처리된 목록 불러오기  -->
   <select id="listPaging" resultMap="ReplyResultMap">
      SELECT * FROM reply 
      WHERE board_no=#{boardNo} 
      ORDER BY reply_no DESC 
      LIMIT #{criteria.pageStart}, #{criteria.countPerPage}
   </select>

	
</mapper>