<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.myapp.user.repository.IUserDAO">

	<resultMap type="com.spring.myapp.user.model.UserVO" id="UserResultMap">
		<id property="userId" column="user_id"/>
		<id property="userPw" column="user_pw"/>
		<id property="userName" column="user_name"/>
		<id property="sessionId" column="session_id"/>
		<id property="sessionLimit" column="session_limit"/>
	</resultMap>
	
	<!-- 회원등록 sql -->
	<insert id="register">
		INSERT INTO mvc_user 
		(user_id, user_pw, user_name) 
		VALUES (#{userId}, #{userPw}, #{userName});
	</insert>

	<!-- 아이디 중복 검사 -->
	<select id="isDuplicateId" resultType="int">
		SELECT COUNT(*) 
		FROM mvc_user 
		WHERE user_id = #{userId}
	</select>
	
	<!-- 로그인 처리 -->
	<select id="login" resultMap="UserResultMap">
		SELECT * FROM mvc_user WHERE user_id = #{userId}
	</select>
	
	<!-- 자동로그인 체크시 세션아이디와 유지기간을 갱신 -->
	<update id="keepLogin">
		UPDATE mvc_user 
		SET session_id = #{sessionId}, session_limit = #{sessionLimit} 
		WHERE user_id = #{userId}
	</update>
	
	<!-- 자동로그인 설정한 방문자가 재방문 시 회원의 정보 불러오기 -->
	<select id="getUserWithSessionId" resultMap="UserResultMap">
		SELECT * FROM mvc_user WHERE session_id = #{sessionId}
	</select>
	
</mapper>
